@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Basic&family=Gloria+Hallelujah&family=Jacquard+12&family=Libre+Barcode+39+Text&family=Mooli&family=Neonderthaw&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&family=Shadows+Into+Light&family=Syncopate:wght@400;700&family=Teko:wght@300..700&family=Tiny5&display=swap');

:root {
    --cor-primaria: #fcfcfc;
    --cor-secundaria: #0f9300;
    --cor-terciaria: #000000;
    --cor-hover: #ffb300;

    --fonte-primaria: "Tiny5", sans-serif;
    --fonte-secundaria: "Mooli", sans-serif;
    --fonte-especial: "Tiny5", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    line-height: 1.6;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2%;

    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    
}
.cabecalho_logo{
    max-width: 120px;
}

.corpo{
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

    font-family: var(--fonte-especial);
    font-size: 1.25rem;
    gap: 2rem;
}

.corpo_produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.corpo_produtos--card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Exibe 3 colunas */
    gap: 2rem;
    padding: 2rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2); /* Sombra na caixa que contém os cards */
    border-radius: 12px; /* Bordas arredondadas */
    overflow-y: auto; /* Adiciona scroll vertical */
    max-height: 50rem; /* Limita a altura da caixa de cards */
}
.corpo--card{
    display: flex;
    flex-direction: column;
    
    padding: 0.5rem;
    gap: 0.625rem;

    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.4); /* Sombra no card */
    border: 0.18rem solid var(--cor-terciaria);
    border-radius: 0.5rem;

    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);

    font-family: var(--fonte-secundaria);
    font-size: 1rem;

    transition: transform 0.5s ease; /* Transição suave para efeito de hover */
}
.corpo--card:hover {
    transform: scale(1.15); /* Efeito de aumento no hover */
}

.card_container--info{
    display: flex;
    flex-direction: column;
}
.card_container--value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.corpo_adicionar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.corpo_adicionar--formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.formulario_campo--inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.formulario_campo{
    padding: 4%;
    border: solid 0.18rem var(--cor-terciaria);
    border-radius: 1.25rem;
    color: var(--cor-secundaria);
    width: calc(200px * 2 + 1rem);
}
.formulario_campo--botoes{
   display: flex;
   justify-content: center;
   gap: 1rem;
   width: calc(200px * 2 + 1rem);
}

.formulario_botao--guardar{
    padding: 2% 20%;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);

    border: solid 0.18rem var(--cor-terciaria);
    border-radius: 1.25rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 13vw;

    transition: transform 0.5s ease;
}
.formulario_botao--guardar:hover{
    
    background-color: var(--cor-secundaria);
    color: var(--cor-hover);

    border: solid 0.18rem var(--cor-terciaria);
    border-radius: 1.25rem;
    transform: scale(1.10);
}

.formulario_botao--limpar{
    padding: 2% 20%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);

    border: solid 0.18rem var(--cor-secundaria);
    border-radius: 1.25rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 13vw;

    transition: transform 0.5s ease;
}
.formulario_botao--limpar:hover{
    
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

    border: solid 0.18rem var(--cor-terciaria);
    border-radius: 1.25rem;

    transform: scale(1.10);
}

.imagem_produto{
    max-width: 150px;
    border: 0.18rem solid var(--cor-terciaria);
    border-radius: 0.5rem;
}

.icone_lixo {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone_lixo img {
    max-width: 20px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2%;

    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}
.rodape_alura{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape_detalhe{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .corpo{
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px){
    .cabecalho{
        font-size: 2rem;
    }
    .formulario_campo{
        width: auto;
    }
    .corpo_produtos--card{
        grid-template-columns: repeat(2, 1fr);
    }
    .rodape{
        font-size: 2rem;
    }
    .rodape_detalhe{
        font-size: 1rem;
    }
}
